
.update-user-container {
  max-width: 150vh;
  min-width: 150vh;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

input {
  width: 100%; /* Make input fields full width */
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.error {
  color: red;
  font-size: 14px; /* Adjust font size for error messages */
  word-wrap: break-word; /* Ensure long error messages wrap to the next line */
  margin-top: 5px; /* Add margin to separate the message from the input */
}

.update-button {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; /* Make button full width */
}
